* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
